@charset "utf-8";
/* 全体設定 */
body {
	background-color: #FFD7F0;
	margin: 1px 10.5px 1em;
	padding: 2px 0;
	}
body,td {
	color: #666666;
	font-family: "Hiragino Sans",meiryo,"ヒラギノ角ゴシック",メイリオ,sans-serif;
	font-size: 14px;
	letter-spacing: 0.09em;
	word-break: break-all;
}

#body {
	max-width: 928px;
	margin: 0 auto;
	}
ul {
	padding: 0;
	margin:  0;
}
li {
	padding: 0;
	margin: 0 0 0 1.5em;
	}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top:1px dashed #888888;
	margin: 2px 0;
	padding: 0;
	}

img{border-style:none}
input[type="text"] , input[type="submit"] , input[type="password"] , input[type="reset"] {
	border: 1px #686868 solid;
	background-color: #FFFEFF;
	-webkit-appearance: none;
	border-radius: 0;
	margin: 1px;
	color: #666666;
	}
input[type="submit"], input[type="reset"] {
	border: 1px solid #686868;
	color: #666666;
	background-color: #FFFEFF;
	font-size:  13px;
	}

textarea {
	border: 1px solid #555555;
	-webkit-appearance: none;
	border-radius: 0;
	line-height:  110%;
	}
input[type="file"] {
	border: none;
	background-color: transparent;
	}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	}
select{
	border-radius: 0;
	background-color: #FFFEFF;
	border: 1px #686868 solid;
	color: #666666;
	font-size:  13px;
	}
.nk {
	white-space: nowrap;
	}
.centering{
	margin: 0 auto;
	text-align: center;
	}

/* リンクの色 */
a {
 text-decoration : none;
 }
a:link{
	color: #6f6f6f;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
a:visited {
	color: #6f6f6f;
}
a:hover {
	color: #6f6f6f;
	text-decoration: none;
}

/* リンクのフォーカスを表示しない */

.posted_image a:focus {
	outline: none;
}

/* ヘッダー */
#bbs_title {
	font-size: 18px;
	font-weight: bold;
	line-height: 120%;
	max-width: 928px;
	border-bottom: 1px dashed #888888;
	color: #8a8a8a;
	margin: 10px auto 15px auto;
	}
.title_name_wrap {
	display: inline-block;
}
.menu_home_wrap {
	display: inline-block;
}

/* メニュー */
.bbsmenu {
	margin-bottom: 12px;
	float: left;
	width: auto;
}
.res_bbsmenu {
	float: left;
	width: auto;
}
.menu_pr {
	float: right;
	margin-bottom: 12px;
	width: auto;
}
.res_menu_pr {
	float: right;
	width: auto;
}
.clear {
	clear: both;
}
/* フォーム */
@media screen and (max-width: 420px) {
/* 420px以下の幅の場合に適用される */
.use_animation {
	display: none;
}
}

#post_form {
	margin: 3px auto;
	}
#self2 {
	margin: 10px auto 15px;
	max-width: 928px;
}
#post_table input {
	background-color: #FFFEFF;
	border: 1px solid #686868;
	color: #555555;
	font-size: inherit;
}
.margin_radio {
	margin-bottom: 15px;
}


#post_table td {
	padding: 2px;
	}
.post_table_title {
	width: 5.5em;
	}
.td_noborder {
	border: none;
	}
.post_input_text {
	width: 210px;
	color: #555555;
	height: 16px;
	padding: 1px;
	}
.post_input_pass {
	width: 10em;
	height: 16px;
	padding: 1px;
	color: #666666;
	}
.post_table_submit {
	height: 2em;
	}
.post_submit {
	height: 2em;
	width: 8em;
	font-size:  13px;
	}
#post_table select {
	color: #666666;
	height: 20px;
	padding: 1px;
}


#up_desc li {
	list-style-type: square;
	}
/* コメント欄の幅 */

@media screen and (min-width: 500px){

#post_table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	}
.post_input_com {
	color: #555555;
	height: 6.2em;
	border: 1px #686868 solid;
	width: 338px;
	padding: 1px;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.3em;
	}
	}

@media screen and (max-width: 499px){
#post_table {
	border-collapse: collapse;
	margin-top: 12px;
	margin-bottom: 0;
	width: 100%;
	line-height:  1em;
	}
#post_table td {
		display: block;
		width: 100%;
		border: none;
	}
.post_input_com {
	color: #555555;
	height: 6.2em;
	border: 1px #686868 solid;
	width: 98%;
	padding: 1px;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.3em;
	}
	}

/* 親記事 */
.article_title {
	font-size: 16px;
	line-height: 110%;
	background-color: #FFB5E6;
	font-weight: bold;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-color: #8a8a8a;
	color: #888888;
	border-width: 0 0 1px 8px;
	padding:  6px 0 2px 5px;
	margin: 0 0 8px;
	}
.article_title a {
	display: block;
	color: #888888;
	text-decoration: none;
	}
.article_info {
	padding: 0;
	margin: 5px 0 5px;
	}
.article_info_desc {
	padding-right: 4px;
	display: inline-block;
	}
.article_info_wrap {
	display: inline-block;
}
.article_info_painttime {
	padding-right: 3px;
	}
.article_info_continue {
	padding-right:  1px;
}
.article_info_animation {
	padding-left:  0; 
}
.article_img_info{
	margin-top: 2px;
	margin-bottom: 12px;
	}
.res_article_img_info{
	margin-top: 2px;
	margin-bottom: 8px;
	}

/* comment */

.comment {
	margin: 0 0 12px;
	display: table;
	min-width:200px;
	line-height: 168%;
	letter-spacing: 0.08em;
}

/* img max-width */
@media screen and (max-width: 899px) {
/* 899px以下の幅の場合に適用される */
	.posted_image img {
		max-width: 100%;
		height: auto;
		}
	.posted_img_form img  {
		max-width: 100%;
		height: auto;
		}
	
	.continue_img img {
		max-width: 100%;
		height: auto;
		}
		}

.article_limit {
	font-weight: bold;
	text-align: right;
	color: #ff88cc;
	}
.article_skipres {
	text-align: right;
	}

/* レス */
.res_article_wrap {
	display: table;
	}
.res_article_title {
	margin: 6px 0 5px;
	}
.res_button_wrap {
	text-align: right;
	margin: 0 0 8px;
	}
.res_button{
	width:6em;
	height: 2em;
	}
.res_button_wrap form {
	display: inline-block;
	margin: 0;
}
.share_button {
	display: inline-block;
	margin: 0 3px -1px;
	vertical-align: bottom;
	font-size: 15px;
}
.icon-twitter {
	display: inline-block;
	padding: 0 2px;
}
.icon-facebook2 {
	display: inline-block;
	padding: 0 2px;
}
.page_top {
	display: inline-block;
	margin: 0 3px 0;
	vertical-align: bottom;
}
/* ミニレスフォーム */
.minires_wrap{
	max-width: 500px;
	text-align: right;
	margin-left: auto;
	margin: 0 0 5px auto;
	}
.minres_form_table {
	width: 100%;
	max-width: 500px;
	text-align: right;
	}
.minres_title {
	width: 6em;
	}
.minres_input_text {
	width: 100%;
	color: #555555;
	height: 16px;
	padding: 1px;
	}
.minres_input_com {
	width: 100%;
	height: 3em;
	color: #555555;
	padding: 1px;
	}
.minres_input_other {
	width: 10em;
	height: 16px;
	padding: 1px;
	}
.color_select {
	background-color: #FFFEFF;
	color: #666666;
	}
@media screen and (max-width: 600px){
	.minres_form_table td {
		display: block;
		width: 100%;
	}
	}

/* ページリンク */
.pagelink {
	text-align: center;
	margin: 1em auto;
	}
#paging_wrap {
	margin: 1em 0 -0.5em;
	line-height: 2em;
	text-align: center;
	}
.page_number {
	padding: 0 2px;
	}
.parentheses {
	padding: 0 2px;
	display: inline-block;
	}

.pagelink_prev , .pagelink_top , .pagelink_next {
	display: inline-block;
	position: relative;
	padding: 0;
	}
.pagelink_prev a , .pagelink_top a , .pagelink_next a {
	display: inline-block;
	padding: 2px 3px;
	}
.pagelink_prev {
	text-align: right;
	width: 72px;
	margin: 1px 0;
	}
.pagelink_prev a {
	padding-left: 14px;
	}

.pagelink_top {
	text-align: center;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 0 5px;
	margin: 1px 0;
}
.pagelink_next {
	text-align: left;
	width: 72px;
	margin: 1px 0;
}
.pagelink_next a {
	padding-right: 14px;
	}

/* 記事メンテナンス */
.mente_wrap {
	text-align: center;
/*	vertical-align: middle;*/
	margin: 1em;
	}
.mente_wrap .edit_number {
	color: #666666;
	height: 16px;
	vertical-align: middle;
	margin: 0 2px;
	width: 60px;
	border:  1px #686868 solid;
}
.mente_wrap .edit_password {
	color: #666666;
	height: 16px;
	vertical-align: middle;
	margin: 0 2px;
	padding: 1px;
}
.mente_wrap select {
	font-size: 13px;
	color: #666666;
	height: 21px;
	padding: 0 0 0 2px;
	vertical-align: middle;
}
.mente_wrap input[type="submit"] {
	font-size: 13px;
	height: 21px;
	vertical-align: middle;
}

/* 著作権表示 */
.copyright {
	text-align: center;
	margin: 14px 10px 14px;
	}

/* カタログ表示 */
.catalog_desc_wrap {
	max-width: 100%;
	margin: 16px auto 0;
	}

.catalog_wrap {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	padding: 0 0 15px 0;
	margin: 1px 14px 10px 0;
	line-height: 138%;
	}
.catalog_desc_wrap div:nth-of-type(3n) {
	margin-right: 0;
	}

.catalog_title {
	line-height: 125%;
	background-color: #FFB5E6;
	font-weight: bold;
	margin: 0 0 1px 0;
	padding: 4px 5px;
	letter-spacing: 0.08em;
	color: #8a8a8a;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	}

@media screen and (max-width: 965px) {
.catalog_wrap {
		width: 32.32%;
		margin: 1px 1.52% 11px 0;
}
}

@media screen and (max-width: 767px) {
/* 767px以下の幅の場合に適用される */
.catalog_desc_wrap {
	max-width: 560px;
	}
.catalog_wrap {
	margin: 1px 2% 12px 0;
	width: 49%;
	}
.catalog_desc_wrap div:nth-of-type(3n) {
	margin-right: 2%;
	}
.catalog_desc_wrap div:nth-of-type(2n) {
	margin-right: 0;
	}
}

@media screen and (max-width: 965px) {
/* 960px以下の幅の場合に適用される */
.catalog_title {
	font-size: 15px;
	}
	}
.catalog_title a {
	color: #8a8a8a;
	text-decoration: none;
	}
.catalog_title a:hover {
	color: #8a8a8a;
	text-decoration: none;
	}
.catalog_name {
	margin: 3px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.catalog_time {
	margin: 0 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.catalog_img{
	width: 100%;
	height: auto;
	}
.catalog_img img{
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	margin:  0 auto;
	display:  block;
	}
.no_article { 
	height: 0;
	border: none;
	padding: 0 4px;
	}
.catalog_noimg a {
	display: block;
	padding: 8px 4px;
	}
.catalog_noimg a:hover {
	display: block;
	padding: 8px 4px;
	}

/* お絵かきモード */


#paint_main {
	text-align: center;
	}
.paint_table{ 
	margin: 0 auto;
	}
.paint_td {
	vertical-align: top;
}

.paint_password {
	color: #666666;
	height: 16px;
	padding: 1px;
}
.paint_select {
	color: #666666;
	height: 21px;
}
.pch_animation {
	text-align:  center;
}
/* 管理モード */
.admindel_table {
text-align:center;
}
.admindel_table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0;
}

@media screen and (min-width: 560px) {
/* 560px以上の幅の場合に適用される */
.nobreak{
	white-space: nowrap;
	}
	}

@media screen and (max-width: 767px) {
/* 767px以下の幅の場合に適用される */
.column_non{
	display:none;
	}
	}

.hensyu {
	font-weight: bold;
	color: #ff88cc;
	}
.admindel_table tr {
	height: 2.5em;
	}
.admindel_table td , .admindel_table th{
	border: 1px solid #8a8a8a;
	padding: 2px;
	}
.delcheck label {
	vertical-align: middle;
	}
.error_mesage {
	line-height: 200%;
	text-align: center;
	font-size: 30px;
	color: #ff88cc;
	margin: 1em 0;
	border-top: 1px dashed #666666;
	border-bottom: 1px dashed #666666;
	}

.adminpass {
	height: 18px;
	padding: 1px;
}
.admin_submit {
	height: 23px;
}


.howtopaint {
	margin: 15px auto 15px;
}
.applet {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
.continue_img {
	max-width: 928px;
	margin-right: auto;
	margin-left: auto;
}


/* 動的パレットの位置と装飾 */
.palette {
	margin-left: 10px;
	background-color: #FFB5E6;
	width: 162px;
}
.palette_gradation {
	margin-left: 10px;
}
.palette .palette_waku {
	border: 1px solid #666666;
}
.palette input {
	color: #555555;
	background-color: #FFFEFF;
	border: 1px solid #686868;
}
.palette_gradation input {
	color: #555555;
	background-color: #FFFEFF;
	border: 1px solid #686868;
}
td.palette_td {
	text-align:  left;
	vertical-align: middle;
}
.palette_hr {
	border: none;
}
/* ペイント画面ペイントタイム */
.applet_painttime {
	margin-top: 15px;
}
.continue_painttime {
	margin: 0 0 8px;
}
/* 掲示板の説明文 */
.howtouse {
	margin-top: 0;
	margin-bottom: 12px;
}
/*  続から描く説明文 */
.howtocontinue {
	margin: 15px auto 8px;
	display: table;
}

/* レス書き込みの説明 */
.howtowrite {
	list-style-type: square;
	margin-top: 6px;
}


/* ペイント画面の説明文 */
.paintbbs_memo {
	margin: 18px auto 18px;
	line-height: 146%;
	color: #666666;
	min-width:180px;
	max-width:768px;
}

.paintbbs_memo li {
	list-style-type: circle;
}
.paintbbs_memo div {
	margin-bottom: 15px;
}

.margin_resbutton_res {
	margin: 5px 0;
}
.continue_img img {
	margin: 3px 0 6px;
}
.posted_img_form img {

	margin-top: 10px;
	margin-bottom: 10px;
}
.posted_img_form {

	max-width: 928px;
	margin-right: auto;
	margin-left: auto;
}

/* 画像とコメントの位置 */
@media screen and (min-width: 768px) {
/* 768px以上の幅の場合に適用される */

.posted_image {
	float: left;
	margin-right: 0;
	margin-bottom: 12px;
}
.posted_image img {
	margin-right: 12px;
}
}
@media screen and (max-width: 767px) {
/* 767px以下の幅の場合に適用される */

.posted_image {
	margin-right: 0;
	margin-bottom: 12px;
}
}
/* スマートフォンには表示しない */
@media screen and (max-width: 555px) {
/* 555px以下の幅の場合に適用される */
.menu_pr {
	display: none;
}
.res_menu_pr {
	display: none;
}

#res_paint_form {
	display: none;
	}
.howtopaint {
	display: none;
}
.txtnon {
	display: none;
}
	.article_info_painttime {
	display: none;
}
}
@media screen and (max-width: 510px) {
/* 510px以下の幅の場合に適用される */
.neo_checknon {
	display: none;
}
}
.article_info_name {padding-right: 6px;font-size: 15px;color: #808080;font-weight: 600;}
/* メールのリンク下線の色と不透明度 */
.article_info_name a:link {
	text-decoration-color: #6666668a;
	color: #8a8a8a;
}
.article_info_name a:visited {
	text-decoration-color: #6666668a;
}

.use_neo {
	font-weight: bold;
	color: #808080;
}
.use_animation {
	font-weight: bold;
	color: #808080;
}
.potitag_mode {
	width: 96%;
	margin-right: auto;
	margin-left: auto;
}
/* ペイントボタン */
.paint_button {
	width: 78px;
	height: 25px;
}
.select_applet {
	height: 25px;
}
.canvas_size {
	font-weight: bold;
	color: #808080;
}
.canvas_select {
	width: 48px;
	height: 25px;
	letter-spacing: 0;
}
#res_paint_form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.post_select_image {
	height: 20px;
	padding:1px 3px 1px 1px;
}

.pch_download {
	text-align: center;
	margin: 10px 0 0 0;
	line-height: 1.8em;
}
.howtoedit {
	display: inline-block;
}
@media screen and (max-width: 413px) {
/* 413px以下の幅の場合に適用される */
.howtoedit {
	margin: 8px 0 3px;
}
}
.webstyle_wrap{
	display: inline-block;
}

@media screen and (max-width: 499px) {
/* 499px以下の幅の場合に適用される */
body{font-size: 15px;}
td{font-size: 15px;}
.share_button {
font-size: 15px;
}
.article_info_name {
font-size: 16px;
}
}
